.searchPage__options{
    display: flex;
    align-items: center;
    color:grey;
}
.searchPage__optionsLeft,
.searchPage__optionsRight {
    display: flex; 
}
.searchPage__options a{
    text-decoration: none;
    color:gray;
}

.searchPage__optionsRight{
    margin-left: 80px;
}

.searchPage__option{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage__option a {
    margin-left: 5px;
}